body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  height: 2000px;
}

h1,
h2,
h3,
p,
ul {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

.header-bg {
  background: #000000;
}

.header {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  flex-wrap: wrap;
  gap: 20px;
}

.header__menu {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
}

.header__menu a {
  display: inline-block;
  font-family: "Poppins";
  font-weight: 400;
  padding: 16px 0px;
  color: #ffffff;
  font-size: 1.125rem;
  position: relative;
}

.header__menu a::after {
  content: "";
  display: block;
  width: 0px;
  height: 2px;
  background: #ffffff;
  margin-top: 4px;
  transition: 0.3s;
  position: absolute;
}

.header__menu a:hover::after {
  width: 100%;
}

/* Responsivo
  Tela de 800px - normalmente acesso via mobile */
@media (max-width: 800px) {
  .header__menu {
    gap: 20px;
  }

  .header__menu a {
    padding: 12px 16px;
    background: #111111;
    border-radius: 4px;
  }

  .header__menu a::after {
    display: none;
  }

  .header__menu a:hover {
    background-color: #2e2e2e;
  }
}

@media (max-width: 600px) {
  .header__menu {
    gap: 12px;
  }

  .header__menu a {
    padding: 8px 12px;
    font-size: 0.875rem;
  }
}
